.project {
    box-sizing: border-box;
    float: left;
    height: 250px;
    padding: 10px;
    vertical-align: middle;
    width: 33.33%;

    .thumbnail {
        overflow: hidden;
        height: 200px;
        width: 100%;

        a {
            float: left;
            height: 230px;
            position: relative;
            width: 100%;
            text-decoration: none;
            .project_image {
                display: none;
                height: auto;
                position: relative;
                left: 0;
                top: 0;
                z-index: 1;
                .thumbnail{
                    object-fit: cover;
                    object-position: 0;
                }
                .thumbnail-text{
                    position: relative;
                    top: -40px;
                    text-decoration: none;
                    background-color: #537f8c;
                    margin: 0;
                    line-height: 10px;
                    font-size: 20px;
                    font-weight: bold;
                    height: 12px;
                    padding: 10px 0;
                    text-align: center;
                    color: white;
                }
            }
            span {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background-color: #537f8c;
                color: $grey-color-light;
                padding: 40px;
                text-align: center;

                h1 {
                    font-size: 1.5rem;
                    margin: 0;
                }

                p {
                    color: $grey-color-light;
                }
            }

            &:hover {
                .project_image {
                    display: block;
                }
                span{
                    color: black;
                }
            }
        }
    }
}
